.draggableContainer {
  width: 100%;
  height: auto;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  background-color: white;
  cursor: pointer;
  margin-top: 5px;
  border: 0.05px solid #ccccdb;
  border-radius: 3px;
  padding: 3px 8px;
  box-sizing: border-box;
}
.draggableContainer:hover {
  -webkit-box-shadow: -1px -1px 7px 5px #efefef;
  -moz-box-shadow: -1px -1px 7px 6px rgba(238, 238, 238, 1);
  box-shadow: -1px -1px 9px 4px #e6e3e3;
}
.draggableContainerIsDragging {
  /* opacity: 0.5; */
  /* border: 1px dashed blue; */
}
.name {
  text-decoration: none;
  color:rgb(0, 204, 255)
}
